*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header_wrap{
    background-color: #020202;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #ACACAC;
    height: 44px;
    display: flex;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1398px;
    margin: 0 auto;
    &__workTime{
        & p{
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 4px;
                right: -13px;
                width: 4px;
                height: 4px;
                border-left: 2px solid #ffff ;
                border-bottom: 2px solid #ffff ;
                transform: rotate(-45deg);
              }
        }
        & span{
            color: #FFFFFF;
            cursor: pointer;
            position: relative;
            display: inline-block;
            padding: 0 4px;
            transition: .3s ease-in-out;
            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                border-bottom: 2px solid white;
                opacity: 0;
                transform: scaleX(0);
                transition: opacity 0.2s ease-in-out;
              }
            &:hover::after {
                opacity: 1;
                transform: scaleX(1);
              }
        }
    }
    &__adress{
        display: flex;
        & a{
            color: #FFFFFF;
            position: relative;
            width: 73px;
            display: block;
            text-align: center;
            cursor: pointer;
            transition: .3s ease-in-out;
            &::before{
                content: "";
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                border-bottom: 2px solid white;
                opacity: 0;
                transform: scaleX(0);
                transition: opacity 0.2s ease-in-out;
            }
            &:hover::before{
                opacity: 1;
                transform: scaleX(1);
            }
        }
    }
    &__social{
        display: flex;
        gap: 14px;
        color: #FFFFFF;
        &_tel{
            display: flex;
            & p{
                margin-right: 4px;
            }
            &_link{
                color: #FFFFFF;
                transition: .3s ease-in-out;
                cursor: pointer;
                &:hover{
                    color: #0156FF;
                }
            }
        }
        &_icons{
            color: #FFFFFF;
            font-size: 16px;
            transition: .3s ease-in-out;
            cursor: pointer;
            &:hover{
                color: #0156FF;
            }
        }
    }
}