.shopping_list__container{
     max-width: 916px;
}

.shopping_list__container{
     width: 100%;

}

.container__title_block{
     display: grid;
     grid-template-columns: 45% 17% 15% 23%;
     & h6{
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          color: #000000;
     }
     padding-bottom: 13px;
     border-bottom: 1px solid #CACDD8;
}

.container__main_block{
     margin-bottom: 25px;
}


.container__buttons_block{
     display: flex;
     flex-direction: row;
     justify-content: space-between;

     .buttons_block_right{
          display: flex;
          gap: 7px;

          .light{
               border: 1.5px solid #A2A6B0;
               background: transparent;


               color: #A2A6B0;
          }
     }
     & button{
          border-radius: 50px;
          border: none;
          padding: 8px 28px;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          cursor: pointer;
     }
     .dark{
          background: #000000;
          color: #FFFFFF;
     }
}


